USE [TeamNO3]
GO
/****** Object:  Table [dbo].[ORDER_OVERVIEW]    Script Date: 2021/4/11 下午 04:59:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDER_OVERVIEW](
	[ORDER_ID] [int] IDENTITY(1,1) NOT NULL,
	[BUYER_ID] [int] NULL,
	[DATETIME] [datetime] NULL,
	[TOTAL_AMOUNT] [int] NULL,
	[SHIPPING_FEE] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ORDER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ORDER_OVERVIEW] ON 

INSERT [dbo].[ORDER_OVERVIEW] ([ORDER_ID], [BUYER_ID], [DATETIME], [TOTAL_AMOUNT], [SHIPPING_FEE]) VALUES (9, 5, CAST(N'2021-04-06T20:07:48.000' AS DateTime), 3996, 110)
INSERT [dbo].[ORDER_OVERVIEW] ([ORDER_ID], [BUYER_ID], [DATETIME], [TOTAL_AMOUNT], [SHIPPING_FEE]) VALUES (10, 26, CAST(N'2021-04-07T11:11:39.000' AS DateTime), 22745, 110)
INSERT [dbo].[ORDER_OVERVIEW] ([ORDER_ID], [BUYER_ID], [DATETIME], [TOTAL_AMOUNT], [SHIPPING_FEE]) VALUES (12, 15, CAST(N'2021-04-07T16:10:59.000' AS DateTime), 55399, 110)
SET IDENTITY_INSERT [dbo].[ORDER_OVERVIEW] OFF
GO
