USE [TeamNO3]
GO
/****** Object:  Table [dbo].[ORDER_DESCRIPTION]    Script Date: 2021/4/11 下午 04:59:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDER_DESCRIPTION](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PRICE] [int] NULL,
	[QUANTITY] [int] NULL,
	[SELLER_ID] [int] NULL,
	[FK_ORDER_OVERVIEW_ID] [int] NULL,
	[FK_ORDER_STATUS_ID] [int] NULL,
	[FK_PAY_TYPE_ID] [int] NULL,
	[FK_PRODUCT_ID] [int] NULL,
	[FK_SHIPPING_TYPE_ID] [int] NULL,
	[FK_SHIPPING_STATUS_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ORDER_DESCRIPTION] ON 

INSERT [dbo].[ORDER_DESCRIPTION] ([ID], [PRICE], [QUANTITY], [SELLER_ID], [FK_ORDER_OVERVIEW_ID], [FK_ORDER_STATUS_ID], [FK_PAY_TYPE_ID], [FK_PRODUCT_ID], [FK_SHIPPING_TYPE_ID], [FK_SHIPPING_STATUS_ID]) VALUES (26, 3996, 4, 24, 9, 0, 1, 43, 1, 0)
INSERT [dbo].[ORDER_DESCRIPTION] ([ID], [PRICE], [QUANTITY], [SELLER_ID], [FK_ORDER_OVERVIEW_ID], [FK_ORDER_STATUS_ID], [FK_PAY_TYPE_ID], [FK_PRODUCT_ID], [FK_SHIPPING_TYPE_ID], [FK_SHIPPING_STATUS_ID]) VALUES (27, 245, 5, 9, 10, 0, 1, 70, 1, 0)
INSERT [dbo].[ORDER_DESCRIPTION] ([ID], [PRICE], [QUANTITY], [SELLER_ID], [FK_ORDER_OVERVIEW_ID], [FK_ORDER_STATUS_ID], [FK_PAY_TYPE_ID], [FK_PRODUCT_ID], [FK_SHIPPING_TYPE_ID], [FK_SHIPPING_STATUS_ID]) VALUES (28, 22500, 1, 20, 10, 0, 1, 68, 1, 0)
SET IDENTITY_INSERT [dbo].[ORDER_DESCRIPTION] OFF
GO
ALTER TABLE [dbo].[ORDER_DESCRIPTION]  WITH CHECK ADD  CONSTRAINT [FK69vkk2qgcn46rk450m6wy1sp2] FOREIGN KEY([FK_SHIPPING_STATUS_ID])
REFERENCES [dbo].[SHIPPING_STATUS] ([STATUS_ID])
GO
ALTER TABLE [dbo].[ORDER_DESCRIPTION] CHECK CONSTRAINT [FK69vkk2qgcn46rk450m6wy1sp2]
GO
ALTER TABLE [dbo].[ORDER_DESCRIPTION]  WITH CHECK ADD  CONSTRAINT [FK6vx2u1heeckqy2x2wl5rqcfgo] FOREIGN KEY([FK_ORDER_OVERVIEW_ID])
REFERENCES [dbo].[ORDER_OVERVIEW] ([ORDER_ID])
GO
ALTER TABLE [dbo].[ORDER_DESCRIPTION] CHECK CONSTRAINT [FK6vx2u1heeckqy2x2wl5rqcfgo]
GO
ALTER TABLE [dbo].[ORDER_DESCRIPTION]  WITH CHECK ADD  CONSTRAINT [FK7lbks3nxlind8vbqgx8ipsssr] FOREIGN KEY([FK_PAY_TYPE_ID])
REFERENCES [dbo].[product_pay_type] ([Pay_Id])
GO
ALTER TABLE [dbo].[ORDER_DESCRIPTION] CHECK CONSTRAINT [FK7lbks3nxlind8vbqgx8ipsssr]
GO
ALTER TABLE [dbo].[ORDER_DESCRIPTION]  WITH CHECK ADD  CONSTRAINT [FK9jkgj2prnhd3ax7nbaajmo72r] FOREIGN KEY([FK_PAY_TYPE_ID])
REFERENCES [dbo].[product_pay_type] ([Pay_Id])
GO
ALTER TABLE [dbo].[ORDER_DESCRIPTION] CHECK CONSTRAINT [FK9jkgj2prnhd3ax7nbaajmo72r]
GO
ALTER TABLE [dbo].[ORDER_DESCRIPTION]  WITH CHECK ADD  CONSTRAINT [FKck42cq8wap3mqub9nru6kd80h] FOREIGN KEY([FK_SHIPPING_TYPE_ID])
REFERENCES [dbo].[product_ship_type] ([Ship_Id])
GO
ALTER TABLE [dbo].[ORDER_DESCRIPTION] CHECK CONSTRAINT [FKck42cq8wap3mqub9nru6kd80h]
GO
ALTER TABLE [dbo].[ORDER_DESCRIPTION]  WITH CHECK ADD  CONSTRAINT [FKd1f17nu8xrdukq9chp4ajqb07] FOREIGN KEY([FK_ORDER_STATUS_ID])
REFERENCES [dbo].[ORDER_STATUS] ([STATUS_ID])
GO
ALTER TABLE [dbo].[ORDER_DESCRIPTION] CHECK CONSTRAINT [FKd1f17nu8xrdukq9chp4ajqb07]
GO
ALTER TABLE [dbo].[ORDER_DESCRIPTION]  WITH CHECK ADD  CONSTRAINT [FKhhf8pjakxqrrlmtmqf4qv0wxi] FOREIGN KEY([FK_PRODUCT_ID])
REFERENCES [dbo].[product] ([Product_Id])
GO
ALTER TABLE [dbo].[ORDER_DESCRIPTION] CHECK CONSTRAINT [FKhhf8pjakxqrrlmtmqf4qv0wxi]
GO
ALTER TABLE [dbo].[ORDER_DESCRIPTION]  WITH CHECK ADD  CONSTRAINT [FKjcrshurej02uwqumhi2qt64w7] FOREIGN KEY([SELLER_ID])
REFERENCES [dbo].[MEMBER] ([MEMBER_ID])
GO
ALTER TABLE [dbo].[ORDER_DESCRIPTION] CHECK CONSTRAINT [FKjcrshurej02uwqumhi2qt64w7]
GO
ALTER TABLE [dbo].[ORDER_DESCRIPTION]  WITH CHECK ADD  CONSTRAINT [FKmpwyske61xgkx54dj2kadc3q3] FOREIGN KEY([FK_PRODUCT_ID])
REFERENCES [dbo].[product] ([Product_Id])
GO
ALTER TABLE [dbo].[ORDER_DESCRIPTION] CHECK CONSTRAINT [FKmpwyske61xgkx54dj2kadc3q3]
GO
ALTER TABLE [dbo].[ORDER_DESCRIPTION]  WITH CHECK ADD  CONSTRAINT [FKnecxuk808lbr1g2k9psot9p0f] FOREIGN KEY([FK_SHIPPING_STATUS_ID])
REFERENCES [dbo].[SHIPPING_STATUS] ([STATUS_ID])
GO
ALTER TABLE [dbo].[ORDER_DESCRIPTION] CHECK CONSTRAINT [FKnecxuk808lbr1g2k9psot9p0f]
GO
ALTER TABLE [dbo].[ORDER_DESCRIPTION]  WITH CHECK ADD  CONSTRAINT [FKpmok7fypeh029fm3pntiht670] FOREIGN KEY([FK_SHIPPING_TYPE_ID])
REFERENCES [dbo].[product_ship_type] ([Ship_Id])
GO
ALTER TABLE [dbo].[ORDER_DESCRIPTION] CHECK CONSTRAINT [FKpmok7fypeh029fm3pntiht670]
GO
ALTER TABLE [dbo].[ORDER_DESCRIPTION]  WITH CHECK ADD  CONSTRAINT [FKqdb76a0ex5iv8jfsr35rovl2h] FOREIGN KEY([FK_ORDER_OVERVIEW_ID])
REFERENCES [dbo].[ORDER_OVERVIEW] ([ORDER_ID])
GO
ALTER TABLE [dbo].[ORDER_DESCRIPTION] CHECK CONSTRAINT [FKqdb76a0ex5iv8jfsr35rovl2h]
GO
ALTER TABLE [dbo].[ORDER_DESCRIPTION]  WITH CHECK ADD  CONSTRAINT [FKrwal3nfdq4452f2wl7rir4fjb] FOREIGN KEY([FK_ORDER_STATUS_ID])
REFERENCES [dbo].[ORDER_STATUS] ([STATUS_ID])
GO
ALTER TABLE [dbo].[ORDER_DESCRIPTION] CHECK CONSTRAINT [FKrwal3nfdq4452f2wl7rir4fjb]
GO
